# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [11]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.4488404877

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
sal['OvertimePay'].max()

245131.88

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [9]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [11]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [12]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [14]:
sal.groupby('JobTitle').nunique()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,,,
ACCOUNT CLERK,83,83,1,52,19,27,0,71,71,1,0,1,0
ACCOUNTANT,5,5,1,5,1,3,0,5,5,1,0,1,0
ACCOUNTANT INTERN,48,48,1,24,3,8,0,25,25,1,0,1,0
"ACPO,JuvP, Juv Prob (SFERS)",1,1,1,1,1,1,1,1,1,1,0,1,0
ACUPUNCTURIST,1,1,1,1,1,1,0,1,1,1,0,1,0
ADMINISTRATIVE ANALYST,93,93,1,80,1,22,0,84,84,1,0,1,0
ADMINISTRATIVE ANALYST II,2,2,1,2,1,2,0,2,2,1,0,1,0
ADMINISTRATIVE ANALYST III,2,2,1,2,1,1,0,2,2,1,0,1,0
ADMINISTRATIVE ENGINEER,10,10,1,10,1,4,0,10,10,1,0,1,0
ADMINISTRATIVE SERVICES MANAGER,3,3,1,3,1,2,0,3,3,1,0,1,0
"ADMINISTRATOR, SFGH MEDICAL CENTER",1,1,1,1,1,1,0,1,1,1,0,1,0
AFFIRMATIVE ACTION SPECIALIST,6,6,1,4,1,2,0,4,4,1,0,1,0
AGRICULTURAL INSPECTOR,2,2,1,2,1,2,0,2,2,1,0,1,0
"AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI",1,1,1,1,1,1,0,1,1,1,0,1,0
"AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS",1,1,1,1,1,1,0,1,1,1,0,1,0
AIRPORT COMMUNICATIONS OPERATOR,27,27,1,27,26,27,0,27,27,1,0,1,0
AIRPORT COMMUNICATIONS SUPERVISOR,2,2,1,2,2,2,0,2,2,1,0,1,0
AIRPORT ECONOMIC PLANNER,13,13,1,13,1,3,0,13,13,1,0,1,0
AIRPORT ELECTRICIAN,17,17,1,14,17,17,0,17,17,1,0,1,0
AIRPORT ELECTRICIAN SUPERVISOR,2,2,1,2,2,2,0,2,2,1,0,1,0
AIRPORT EMERGENCY PLANNING COORDINATOR,2,2,1,2,1,1,0,2,2,1,0,1,0
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR,1,1,1,1,1,1,0,1,1,1,0,1,0
AIRPORT NOISE ABATEMENT SPECIALIST,2,2,1,2,1,2,0,2,2,1,0,1,0
AIRPORT OPERATIONS SUPERVISOR,12,12,1,12,11,12,0,12,12,1,0,1,0
AIRPORT POLICE SERVICES AIDE,187,186,1,170,165,187,0,187,187,1,0,1,0
AIRPORT PROPERTY SPECIALIST I,13,13,1,12,1,5,0,12,12,1,0,1,0
AIRPORT SAFETY OFFICER,40,40,1,34,37,40,0,40,40,1,0,1,0
ANESTHETIST,25,24,1,24,15,25,0,25,25,1,0,1,0
ANIMAL CARE ASSISTANT SUPERVISOR,1,1,1,1,1,1,0,1,1,1,0,1,0
ANIMAL CARE ATTENDANT,14,14,1,13,13,14,0,14,14,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wastewater Control Inspector,26,18,1,18,16,4,17,26,26,3,0,1,0
Water & Power Maint Sprv 1,9,6,1,7,9,8,8,9,9,3,0,1,0
Water Conservation Admin,12,8,1,11,1,4,12,11,12,3,0,1,0
Water Const&Main Supt,5,5,1,5,5,5,5,5,5,3,0,1,0
Water Meter Repairer,18,13,1,17,15,4,15,18,18,3,0,1,0
Water Meter Shop Supervisor 1,2,1,1,2,1,2,2,2,2,2,0,1,0
Water Operations Analyst,35,24,1,24,5,8,25,28,31,3,0,1,0
Water Quality Tech III,24,16,1,23,10,2,22,24,24,3,0,1,0
Water Quality Technician,32,32,1,32,21,6,29,32,32,1,0,1,0
Water QualityTech I/II,69,67,1,58,39,15,62,67,68,3,0,1,0
Water Service Inspector,82,58,1,65,50,47,75,74,76,3,0,1,0
Watershed Forester,6,4,1,6,1,3,6,6,6,3,0,1,0
Watershed Keeper,76,52,1,45,72,46,70,76,76,3,0,1,0
Watershed Keeper Supervisor,8,6,1,8,8,5,8,8,8,3,0,1,0
Watershed Worker (Seasonal),86,78,1,73,4,1,77,76,80,3,0,1,0
Welder,38,29,1,26,35,22,38,38,38,3,0,1,0
Welfare Fraud Investigator,16,11,1,15,1,1,16,15,16,3,0,1,0
Wharfinger 1,3,2,1,3,3,1,3,3,3,3,0,1,0
Wharfinger 2,10,7,1,10,6,5,10,10,10,3,0,1,0
Window Cleaner,50,36,1,38,3,50,50,50,50,3,0,1,0
Window Cleaner Supervisor,3,2,1,3,2,3,3,3,3,3,0,1,0
Wire Rope Cable Maint Mechanic,30,22,1,27,28,30,30,30,30,3,0,1,0
Wire Rope Cable Maint Sprv,3,2,1,3,3,3,3,3,3,3,0,1,0
Worker's Comp Supervisor 1,14,11,1,14,1,8,14,14,14,3,0,1,0
Worker's Compensation Adjuster,74,52,1,66,1,23,65,70,71,3,0,1,0
X-RAY LABORATORY AIDE,26,26,1,23,23,23,0,26,26,1,0,1,0
X-Ray Laboratory Aide,100,70,1,92,68,75,100,100,100,3,0,1,0
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",1,1,1,1,1,1,0,1,1,1,0,1,0
Youth Comm Advisor,4,4,1,4,1,3,4,4,4,3,0,1,0
ZOO CURATOR,1,1,1,1,1,1,0,1,1,1,0,1,0

2159

** What are the top 5 most common jobs? **

In [16]:
sal['JobTitle'].head()

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
3              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
Name: JobTitle, dtype: object

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000